.breadcum{margin-top:0px; font-size:12px; line-height:30px; font-weight:bolder; color:#F47621; font-family:"宋体"; float:right; display:inline;}
.breadcum a{ text-decoration:none;color:#7F7F7F}
.breadcum .a2{color:#F47621;}
